<div class="portoflio">
  <div class="container con">
    <h2 class="text-center pt-3">portoflio</h2>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="row g-5 pt-3 mb-5">
      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/cabin.png" alt="" class="w-100 rounded ph" />

          <div
            class="name"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  LOG CABIN
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/cabin.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/cake.png" alt="" class="w-100 rounded ph" />

          <div
            class="name"
            data-bs-toggle="modal"
            data-bs-target="#exampleModals"
          >
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="exampleModals"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  TASTY CAKE
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/cake.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/circus.png" alt="" class="w-100 rounded ph" />

          <div
            class="name"
            data-bs-toggle="modal"
            data-bs-target="#exampleModel"
          >
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="exampleModel"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  CIRCUS TENT
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/circus.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/game.png" alt="" class="w-100 rounded ph" />

          <div
            class="name"
            data-bs-toggle="modal"
            data-bs-target="#exampleModels"
          >
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="exampleModels"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  CONTROLLER
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/game.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/safe.png" alt="" class="w-100 rounded ph" />

          <div class="name" data-bs-toggle="modal" data-bs-target="#example">
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="example"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  LOCKED SAFE
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/safe.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo col-md-4">
        <div class="item">
          <img src="assets/img/submarine.png" alt="" class="w-100 rounded ph" />

          <div class="name" data-bs-toggle="modal" data-bs-target="#examples">
            <i class="fas fa-plus fa-3x text-white"></i>
          </div>

          <div
            class="modal fade"
            id="examples"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <h1
                  class="modal-title ms-auto me-auto mt-5"
                  id="exampleModalLabel"
                >
                  SUBMARINE
                </h1>
                <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <img
                  src="assets/img/submarine.png"
                  alt=""
                  class="w-50 d-block ms-auto me-auto mt-3"
                />
                <p class="text-center pt-5 si-16">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil, molestias magnam,
                  recusandae quos quis inventore quisquam velit asperiores,
                  vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                  Nam.
                </p>

                <div class="ms-auto me-auto">
                  <button
                    type="button"
                    class="btn btn-secondar mb-5"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-times fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
