<div class="contacts">
  <h2 class="text-center pt-5">CONTACT ME</h2>
  <div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div class="contact">
    <div class="container cont">
      <div class="name mb-4">
        <input type="text" name="name" placeholder="Name" class="p10" />
      </div>
      <div class="email mb-4">
        <input
          type="email"
          name="email"
          placeholder="Email Address"
          class="p10"
        />
      </div>
      <div class="number mb-4">
        <input type="number" name="number" placeholder="Numper" class="p10" />
      </div>
      <input type="text" name="message" placeholder="Message" class="p10" />

      <button
        class="btn btn-primary p-2 mt-4 mb-5"
        id="sendMessageButton"
        type="submit"
      >
        Send
      </button>
    </div>
  </div>
</div>
