<div class="home">
  <div class="container">
    <img src="assets/img/avataaars (1).svg" alt="" class="w-10 pt-5" />
    <h1 class="text-center pt-5 text-white">START ANGULAR</h1>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <p class="text-center pt-2 pb-5 text-white grap">
      Graphic Artist - Web Designer - Illustrator
    </p>
  </div>
</div>
